.w-400{
    width: 400px;
}
.fs-xs{
    font-size: 1rem;
}
.w-10{
    width: 10%;
}
a{
    text-decoration: none;
}
.fs-big{
    font-size: 10rem;
}

.online{
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
}
.w-15{
    width: 20%;
}
.fs-sm{
    font-size: 1.4rem !important;
}
small{
    color: #bbb;
    font-size: 0.7rem;
    text-align: right;
}
.chat-box{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 50vh;
}
.rtext{
    width: 65%;
    background: #f8f9fa;
    color: #444;
}
.ltext{
    width: 65%;
    background: #3289c8;
    color: #fff;
}
/*width*/
*::-webkit-scrollbar{
    width: 3px;
}
/*track*/
*::-webkit-scrollbar-track{
    background: #f1f1f1;
}
/*handle*/
*::-webkit-scrollbar-thumb{
    background: #aaa;
}
/*handle hover*/
*::-webkit-scrollbar-thumb:hover{
    background: #3289c8;
}

.input-group textarea{
    resize: none;
}
